<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @user.uid %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> |
<%= link_to 'New Adoption Request', new_user_adoption_request_path(@user) %> |
<%= link_to 'Your Adoption Requests', user_adoption_requests_path(@user) %> |
<%= link_to 'New Kitten Requests', new_user_kitten_request_path(@user) %> |
<%= link_to 'Your Kitten Requests', user_kitten_requests_path(@user) %>
